**/.vscode
**/.env
**/__pycache__
**/.ipynb_checkpoints
**/node_modules

**/shape_predictor_68_face_landmarks.dat
**/data/data.zip
**/code_data
**/test_data

**/src/haarcascade_frontalface_alt2.xml
**/src/shape_predictor_68_face_landmarks.dat
**/src/LFBmodel.yaml
**/src/code
**/src/libs
**/src/code.zip
**/extra
